<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <h1>Update Task</h1>

    <label for="task">Enter Task</label>
    <input
      id="task"
      type="text"
      formControlName="task"
      class="form-control"
      required
    />

    <label for="description">Enter Description</label>
    <input
      id="description"
      type="text"
      formControlName="description"
      class="form-control"
      required
    />

    <button type="submit" class="btn btn-primary">Edit Task</button>
  </div>
</form>
