
        .mainpage{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large;
        }
        #one {
            width: 1200px;
            padding-left: 300px;
            
        }
        #two{
            width: 400px;
            padding-left: 800px;
        }

        #continue {
            width: 1200px;
        }
        .checkoutpara{  
            font-size: 20px;
            padding-top: 0%;
        }
        #redeem{
            color: white;
            background-color: rosybrown;
            ;
        }
        .check{
            margin-right: 0;
            
        }
        .cbcontent{
            margin-left: 0;
        }
        body{
            background-color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
        }
        .billpay{
            font-weight: 100;
        }
        .twocol{
            width: 300px;

        }
        .twocolbox{
            width: 250px;
        }
        .sincolbox{
            width: 550px;
        }
        #tcbox1{
            width: 250px;
        }
        #tcbox2{
            width: 180px;
        }
        #tcbox3{
            width: 110px;
        }
        .tccontent{
            width: 182px;
        }
        .expcvvtable{
            width: 450px;
        }
        .continuebox{
            background-color: blue;
            width: 565px;
            height: 60px;
            color: white;
        }
    .mainpage{
        width: 1000px;
        
    }
    .subpage{
        
        width: 500px;
        height: 600px;
        font-size: larger;
    }
    .main{
        display: flex;
    }
    #yourcart{
        font-size: 30px;
        margin: 300px;
    }
    #yourcart2{
        font-size: 30px;
        margin: 300px;
    }
    .carttable{
        width: 340px;
        border: solid 1px;
        opacity: 70%;
    }

    .promoredeem{
        width: 300px;
    }
    #promocodebox{
        padding-left: 8%;
        width: 235px;
        height: 30px;
    }
    #redeem{
        width: 100px;
        height: 35px;
    }
    .yourcartclass{
        width: 200px;
        background-color: bisque;
    }
    .inputbox , .twocolbox , .sincolbox{
        height: 30px;
    }
    .inputboxdd{
        height: 34px;
    }
    .hrline{
        margin-right:635px ;
    }
