html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 780px;
    margin-left: 20px;
    padding-left: 10px;
}

#submit{
    background-color: rgb(223, 125, 55);
    color: white;
    border-radius: 5px;
    margin-left: 300px;
    padding-left: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    align-items: center;

}
.namebox{
    height: 30px;
    opacity: 50%;
    border-radius: 5px;
}
.hrline{
    width: 700px;

}
 .inp{
            width: 370px;
            height: 30px;
            opacity: 50%;
            border-radius: 5px;
        }
#number{
    text-align: center;
    height: 30px;
    border-radius: 5px;
    opacity: 50%;
}
.toppara{
    width: 550px;
    font-size: medium;
}
.para{
    width: 680px;
    font-size: 15px;
    padding: 2%;


}
#payment{
    text-align: center;
    background-color: rgb(241, 243, 243);
    border-radius: 15px;
    padding: 3%;
}
#main{
    margin: auto;
    border: solid 10px rgb(215, 215, 231);
}
.address{
    width: 720px;
    height: 30px;
    opacity: 50%;
    border-radius: 5px;
}
#leftbox{
    width: 355px;
    border-radius: 5px;
    opacity: 50%;
    height: 30px;
}
#rightbox{
    margin-left: 0;
    width: 355px;
    height: 30px;
    opacity: 50%;
    border-radius: 5px;
}
#warning{
    width: 580px;
    font-size: 15px;
    padding: 1%;
    border-radius: 15px;
    background-color: beige;
}
#total{
    padding-left: 500px;
}
#amt1{
padding-left: 115px;
}
#amt2{
    padding-left: 80px;
}

.radio1{
    size: 2cap;
    padding: 10px;
}
.checkcontent{
    font-size: medium;
}
.fontwar{
    margin-left: 50px;
}
#warning{
    display: flex ;
    width: 700px;
    color: cadetblue;
    border-radius: 15px;
}
#warnicon{
    font-size: 50px;
    padding: 18%;
}
#fontwar{
    font-size: 30px;
}
.main1{
    padding-left: 10px;

}
.name{
    
    padding-bottom: 15px;
    opacity: 50%;
}
#stpro{
    padding-left: 150px;
}
.debpay{
    padding: 2%;
}
.dp{
    padding: 3%;
}
.radiocontent{
    padding: 3%;
    width: 200px;
}
.opac{
    opacity: 50%;
}
#rowspace{
height: 70px;
}
